body{
    margin: 0;
}

.bg{
    background-image: url("../images/bg.png");
    height: 85%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;

}
.nav-bar li a{
    color: #1e1e1d;
    font-size: 28px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
}
.nav-bar li{
    display: inline;
    margin-right: 5%;
    font-size: 25px;
    height: 100%;
}

.nav-bar{
    position: fixed;
    top: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    display: block;
    height: 7%;
    padding-top: 0.3%;
    margin: 0;
    background: #f96c0d;
}

.nav-bar a:hover { 
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.title{
    text-align: center;
    color: #f96c0d;
    font-family: 'Garmond';
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.after-movie{
    width: 600;
    height: 420;
    margin-bottom: 20px;
}

#div-after-movie{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 45px;
    margin-right: 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 570px;
    width: 100%;
}

#myCarousel{
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.container{
    align-items: center;
}

.footer {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #1e1e1d;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
 }

 .footer a{
     display: inline-block;
     font-family: 'Times New Roman', Times, serif;
     color: #f96c0d;
     text-decoration: none;
     font-size: 15px;
     margin-top: 3px;
     text-decoration: none;
 }

 .footer-item{
     margin-right: 30px;
 }
 
 .footer a:hover{
     color: #ffffff;
     text-decoration: none;
 }

 #video-content{
    width: 600;
    color: #ffffff;
    padding: 1%;
    text-align: justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -120px;
    font-weight: bold;
 }

 .one{
     display: inline-block;
 }